body {
    max-width: 2000px;
    height: 100%;
    background-color: #f8f8f8;
}
/*Navigation Bar*/
.navbar {
    width: 100%;
    height: 7%;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: +1;
}

.navbar ul {
    position: relative;
    top: 45%;
    transform: translateY(-45%);
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar a {
    display: inline-block;
    position: relative;
    margin: 0 5%;
    text-decoration: none;
}

.navbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.col-md-12 {
    margin: 0;
    padding: 0;
}

#circle-front {
    position: relative;
    width: 100%;
    height: 50%;
    background: #EEEEEE;
    border-radius: 50%;
    font-family: 'Kalam', cursive;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0;
}

#loader {
    width: 100%;
    height: 50%;
    background: transparent;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 3px solid #BFBFBF;
    border-bottom: 3px solid #BFBFBF;
    animation: spin 4s linear infinite;
    position: absolute;
    top: 24%;
    left: -10%;
    margin: 0;
    padding: 0;
}


@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#circle-front h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 1em;
    position: relative;
    font-weight: 800;
    top: 25%;
}

/*Projects CSS*/
#work_page {
    overflow: hidden;
}

.projectImageContainer {
    height: 100vh;
    border: none;
}

.list_container {
    width: 100%;
    height: 100%;
}

.project_list{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: +5;
}

.projectTitle {
    width: 40%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 20%;
    left: 45%;
    transform: translate(-45%,-45%);
    margin: 0;
    padding: 0;
}

.line {
    height: 5vh;
    width: 3px;
    border-left: 3px solid black;
    position: relative;
    top: 18%;
    left: 47%;
    margin:0;
    padding: 0;
}

.projectContainer {
    position: relative;
}

.selectProject {
    color: #ffffff;
}

.selectProject h1 {
    font-size: 4em;
}


#projectOne {
    background: linear-gradient(rgba(255,255,255,.20),rgba(255,255,255,.20)), url('./images/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#projectTwo {
    background: linear-gradient(rgba(255,255,255,.20),rgba(255,255,255,.20)), url('./images/space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#projectThree {
    background: linear-gradient(rgba(255,255,255,.20),rgba(255,255,255,.20)), url('./images/snow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#projectFour {
    background: linear-gradient(rgba(255,255,255,.20),rgba(255,255,255,.20)), url('./images/waterfall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#projectFive {
    background: linear-gradient(rgba(255,255,255,.20),rgba(255,255,255,.20)), url('./images/cosmos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*About Me Page Contents*/

#about-me-body {
    background: url('http://interfacelift.com/wallpaper/De88aa64/04041_mountrainier_1920x1080.jpg');
}

svg {
    width: 100%;
    height: 10vh;
    margin: 5% 0;
}

svg path {
    fill: none;
    stroke: #000;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700;
    -webkit-animation: dash 5s linear forwards;
    animation: dash 5s linear forwards;
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.about-me-row-1 {
    width: 100%;
    height: 75vh;
    border: 1px solid black;
}

.about-me-row-2 div,
.about-me-row-3 div,
.about-me-row-4 div {
    height: 50vh;
    border: 1px solid black;
}

/*Contacts Page Content*/
.contactContainer {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.contactContainer h1 {
    margin-top: 5%;
}

.contactContainer h1,
.contactContainer h2 {
    margin-bottom: 5%;
}

.contactContainer ul li {
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin-right: 3%;
}

.contact-glyphs li a{
    text-decoration: none;
    padding: 0 50%;
    font-size: 2.5em;
    position: relative;
    color: black;
}
