body {
    max-width: 2000px;
    height: 100vh;
    width: 100vw;
    background-color: #f8f8f8;
}
/*Navigation Bar*/
#navbar {
    width: 100%;
    height: 7%;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25));
    z-index: +7;
}

#navbar ul {
    position: relative;
    top:45%;
    transform: translateY(-45%);
    text-align: center;
    margin: 0;
    padding: 0;
}

#navbar a {
    display: inline-block;
    position: relative;
    margin: 0 5%;
    text-decoration: none;
}

#navbar li {
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

#work_page #navbar li {
    color: #ffffff;
}

.col-md-12 {
    margin: 0;
    padding: 0;
}

.circleContainer {
    position: absolute;
    top: -50%;
    right: 49%;
    width: 45px;
    height:45px;
    display: inline-block;
}

.circle {
    position: absolute;
    width: 90%;
    height: 90%;
    background: #EEEEEE;
    border-radius: 50%;
    top: 45%;
    left: 45%;
    transform: translate(-45%,-45%);
    font-family: 'Kalam', cursive;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0;
}

.loader {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 3px solid #2C3E50;
    border-bottom: 3px solid #2C3E50;
    animation: spin 4s linear infinite;
    position: absolute;
    margin: 0;
    padding: 0;
}

.circle h1 {
    font-family: 'Courgette', cursive;
    font-size: 1em;
    position: relative;
    font-weight: 800;
    bottom: 25%;
    color: #000000;
}

/*Projects CSS*/
#work_page {
    position: fixed;
    overflow-y: scroll;
}

#work_page .navbar li {
    color: #ffffff;
}

.projectContainer,
.projectImageContainer,
.projectInformation {
    position: relative;
    height: 100%;
    border: none;
}

.projectInformation {
    background: black;
    height: 0;
    width: 0;
}

.project_list{
    height: 100%;
    width: 40vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    z-index: +5;
    background: none;
}

.projectTitle {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 20%;
    left: 45%;
    transform: translate(-45%,-45%);
    margin: 0;
    padding: 0;

}

.line {
    height: 5vh;
    width: 3px;
    border-left: 3px solid black;
    position: relative;
    top: 18%;
    left: 50%;
    margin:0;
    padding: 0;
}

.selectProject {
    color: #ffffff;
}

.selectProject h1 {
    font-size: 4em;
}

/*.wheatley_container {*/
    /*position: absolute;*/
    /*height: 20vh;*/
    /*width: 10vw;*/
/*}*/

/*.wheatley {*/
    /*height: 20vh;*/
    /*width: 10vw;*/
    /*animation: spin 6s linear infinite;*/
/*}*/


#projectOne {
    background: linear-gradient(rgba(255,255,255,.20),rgba(255,255,255,.20)), url('./images/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#projectTwo {
    background: linear-gradient(rgba(255,255,255,.20),rgba(255,255,255,.20)), url('./images/space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#projectThree {
    background: linear-gradient(rgba(255,255,255,.20),rgba(255,255,255,.20)), url('./images/snow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#projectFour {
    background: linear-gradient(rgba(255,255,255,.20),rgba(255,255,255,.20)), url('./images/waterfall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#projectFive {
    background: linear-gradient(rgba(255,255,255,.20),rgba(255,255,255,.20)), url('./images/cosmos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#projectInformationTwo {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

#projectInformationThree {
    background: url('./images/walk-the-moon-tickets_crop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.small_star {
    position: absolute;
    height: 1px;
    width: 1px;
    background: #ffffff;
    animation: scroll 25s linear infinite;
}

.big_star {
    position: absolute;
    height: 3px;
    width: 3px;
    background: #ffffff;
    animation: scroll 75s linear infinite;
}

.projectTextContainer {
    height: 75%;
    width: 80%;
    position: relative;
    top: 45%;
    left: 45%;
    transform: translate(-45%,-45%);
    background: linear-gradient(rgba(0,0,0,.40),rgba(0,0,0,.40));
    padding: 0 5%;
    border: 1px solid white;
    color: #ffffff;
    font-weight: 600;
    display: none;
}

.projectHeader {
    text-align: center;
    margin-bottom: 2%;
}

.projectText {
    font-size: 1.2em;
}

.panelRow {
    height: 25%;
    width: 100%;
}

.panel {
    height: 100%;
    background: gray;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

.spin {
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-duration: 0.5s;
    transform-style: preserve-3d;
    animation-delay: 0s;
}

@keyframes spinner {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes scroll {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-500px);
    }
}

/*About Me Page Contents*/

svg {
    padding: 0 0 3% 0;
    width: 100%;
    height: 15vh;
    margin: 5% 0;
}

svg path {
    fill: none;
    stroke: #000;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700;
    -webkit-animation: dash 5s linear forwards;
    animation: dash 5s linear forwards;
}

.about-me-row-1 {
    position: relative;
    top: 7%;
    width: 100%;
    height: 93%;
}

.about-me-row-2,
.about-me-row-3,
.about-me-row-4 {
    position: relative;
    top: 7%;
    width: 100%;
    height: 50%;
    border: 1px solid black;
}

.about_me_text {
    padding: 3% 10% 0 10%;
    font-size: 2em;
    font-weight: 300;
}

.skill {
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.skill_test {
    height: 50%;
    width: 100%;
    padding: 2%;
    margin: 0;
}

.badgeHolder {
    height: 50%;
    width: 50%;
}

/*Contacts Page Content*/
.contactContainer {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.contactContainer h1 {
    margin-top: 5%;
}

.contactContainer h1,
.contactContainer h2 {
    margin-bottom: 5%;
}

.contactContainer ul li {
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin: 0 3%;
}

.contact-glyphs li a{
    text-decoration: none;
    padding: 0 50%;
    font-size: 2.5em;
    position: relative;
    color: black;
}

.formInput {
    position: relative;
    left: 45%;
    transform: translateX(-45%);
    margin-top: 2%;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width: 627px) {
    #navbar {
        font-size: 0.7em;
    }

    .circleContainer {
        height: 30px;
        width: 30px;
        right: 48%;
    }

    .circle h1 {
        bottom: 45%;
    }

    .projectTitle {
        width: 90vw;
    }

    .selectProject h1 {
        font-size: 3.6em;
    }

    .projectTitle h1 {
        font-size: 2.7em;
    }

    .projectTextContainer {
        height: 85%;
        overflow: hidden;
    }

    .projectText {
        font-size: 0.7em;
    }

    .wheatley_container {
        display: none;
    }

    .wheatley {
        height: 20vh;
        width: 35vw;
        animation: spin 7s linear infinite;
        display: none;
    }
}
